/* ==== DEFAULT STYLING ==== */

/* Box Model Fix */

html {
box-sizing: border-box;
}

*, *: before, *:after {
box-sizing: inherit;
}

@font-face {
    font-family: "Canela";
    src: url("../fonts/canela/Canela-Regular-Trial.otf");
}
:root {
    --font-sans-serif: "Inter", sans-serif;
    --font-serif: "Canela", serif;
    --color-white: #FFF;
    --color-black: #000;
    --color-dark-gray: #A0A0A5;
    --color-light-gray: #E4E4EA;
    --color-yellow: #FFDC61;
}

img {
    display: block;
}

/* ==== COMPONENT PAGE STYLING ==== */

/* spacing */

html {
    padding: 2rem;
    margin: 2rem auto;
}

h2 {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-yellow);
}

/* componenets navbar */

.components__navbar ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.components__navbar li {
    padding: 1rem;
}

.components__navbar a:hover {
    border-bottom: 2px solid var(--color-yellow);
}


/* component article */

.component {
    padding: 0 1rem;
}

/* ==== TYPOGRAPHY ==== */

/* body */

body {
  font-family: var(--font-sans-serif);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
    font-size: calc(9.48235px + .58824vw);
    letter-spacing: -.03em;
    line-height: 1.4545454545em;
}

.p--small {
    font-size: calc(14.87059px + .14706vw);
    letter-spacing: -.03em;
    line-height: 1.5555555556em;
}

.p--large {
   font-size: 20px;
}

.p--uppercase {
    text-transform: uppercase;
}

/* headings */

h1, h2, h3 {
    font-family: var(--font-serif);
}

h2, {
    font-size: 32px;
}

.h2--large {
    font-size: 40px;
}

/* links */

a {
    text-decoration: none;
    color: black;
}

/* ==== HEADER ==== */

.header {
    background: black;
    margin-top: 5rem;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    width: 7rem;
    padding-top: 1rem;
}

.header__navbar {
    color: var(--color-white);
    text-transform: uppercase;
    font-family:var(--font-sans);
}

.header__navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.header__navbar-item {
    list-style: none;
    margin: 1.5rem;
    padding: 0.2rem 0;
}

.header__navbar-item--selected {
    border-bottom: 1px solid var(--color-yellow);
}

/* ==== SIDEBAR ==== */

/* ==== CASE STUDIES ==== */

/* ==== CONTACT ==== */

/* ==== FOOTER ==== */

.component__atom {
    display: flex;
    justify-content: space-between;
}

.footer {
    color: var(--color-black);
    font-size: calc(9.48235px + .58824vw);
    letter-spacing: -.03em;
    line-height: 1.4545454545em;
}

.footer__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__logo {
    flex: 0 0 1;
    object-fit: contain;
}

.footer__lists {
    flex: 0 0 1;
    display: flex;
    justify-content: space-between;
}

.footer__list {
    list-style: none;
}

.footer__list a {
    border-bottom: 1px solid var(--color-light-gray);
}

.footer__copyright {
    color: var(--color-dark-gray);
}
