<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Lobelia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <!-- COMPONENT PAGE HEADER -->
    <header class="components__header">
        <a href="#!"><h1>Web Components</h1></a>

        <nav class="components__navbar">
            <ul>
                <a href="#typography"><li>Typography</li></a>
                <a href="#header"><li>Header</li></a>
                <a href="#sidebar"><li>Sidebar</li></a>
                <a href="#case-card"><li>Case Study Card</li></a>
                <a href="#contact"><li>Contact</li></a>
                <a href="#footer"><li>Footer</li></a>
            </ul>
        </nav>
    </header>

    <main> 
    <!-- TYPOGRAPHY -->
    <h2 id="typography">Typography</h2>
        <article class="component">
            <h3 class="component__title border-top">Body Default</h3>

            <p>Used for main and side navbars, case cards, contact section button, and footer</p>

            <!--Use srcset to correct screenshot to actual size since Mac screenshots 2x resolution-->
            <img class="component__image"
                alt="Body text example" 
                srcset="images/footer__address.png 2x"
                src="images/footer__address.png"
            />

            <div class="component__code">
                <p>113 Doctor Trueta Street<br>
                1st floor<br>
                08005 Barcelona</p>
            </div>
        </article>
        
        <article class="component">
            <h3 class="component__title border-top">Body Small</h3>

            <p>Smaller font size used for case card location, case card client, and footer copyright text (.casecard__location, .case-card__client, .footer__copyright)</p>
                
            <img class="component__image"
                alt="Body small text example" 
                srcset="images/footer__copyright.png 2x"
                src="images/footer__copyright.png"
            >

            <div class="component__code">
                <p class="p--small">©2026 Lobelia. All rights reserved.</p>
            </div>
        </article>
        
        <article class="component">
            <h3 class="component__title border-top">Body Large</h3>

            <p>Larger font size used for case study card topic text (.case-card__topic)</p>
                
            <img class="component__image"
                alt="Body large text example" 
                srcset="images/case-card__topic.png 2x"
                src="images/case-card__topic.png"
            >

            <div class="component__code">
                <p class="p--large">How can soil moisture anticipate <br> deadly locust outbreaks?</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__title border-top">Body Uppercase</h3>

            <p>Uppercase used for for header navbar, contact button, and case study card client text (.header__navbar, .section-contact__button, .case-card__client)</p>
                
            <img class="component__image"
                alt="Uppercase text example" 
                srcset="images/section-contact__button-text.png 2x"
                src="images/section-contact__button-text.png"
            >

            <div class="component__code">
                <p class=" p--small p--uppercase"> Get in touch</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__title border-top">Heading Default</h3>

            <p>Used for section headings (.section-cases, .section-contact)<p>
                
            <img class="component__image"
                alt="Uppercase text example" 
                srcset="images/section-cases__heading.png 2x"
                src="images/section-cases__heading.png"
            >

            <div class="component__code">
                <h2>Keep track of <br> what’s changing <br> to improve your <br> decision <br> making.</h2>
            </div>
        </article>

        <article class="component">
            <h3 class="component__title border-top">Heading Large</h3>

            <p>Larger font size used for contact section heading (.section-contact__heading)</p>
                
            <img class="component__image"
                alt="Uppercase text example" 
                srcset="images/section-contact__heading.png 2x"
                src="images/section-contact__heading.png"
            >

            <div class="component__code">
                <h2 class="h2--large">Ready to take action?</h2>
            </div>
        </article>

    <!-- HEADER -->
    <h2 class="border-top" id="header">Header</h2>
        <article class="component">
            <img class="component__image"
                alt="Header screenshot" 
                srcset="images/header.png 2x"
                src="images/header.png"
            />
            
            <header class="header component__code">
                <a href="#!"><img class="header__logo" alt="Lobelia logo - black background yellow text" srcset="images/header__logo.png 2x" src="images/header__logo.png"></a>
                
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">What We Do</li>
                        <li class="header__navbar-item">How It Works</li>
                        <li class="header__navbar-item header__navbar-item--selected">Case Studies</li>
                        <li class="header__navbar-item">About</li>
                        <li class="header__navbar-item">Contact</li>
                    </ul>
                </nav>
            </header>
        </article>

    <h2 class="border-top" id="sidebar">Sidebar</h2>

    <!-- CASE CARD -->
    <h2 class="border-top" id="case-card">Case Card</h2>
        <article class="component">
            <img class="component__image"
                alt="Screenshot of case study card"
                srcset="images/case-card.png 2x"
                src="images/case-card.png"
            >
            <div class="case-card-container component__code">
                <div class="case-card">
                    <img class="case-card__image"
                        alt="Green, blue, and yellow agricultural map"
                        srcset="images/case-card__image.png 2x"
                        src="images/case-card__image.png"
                    >

                    <p class="case-card__client p--small p--uppercase">FAO - United Nations</p>

                    <p class="case-card__topic p--large">How can soil moisture anticipate deadly loculst outbreaks?</p>

                    <p class="case-card__location p--small p--vertical">Africa, Near East & Southwest Asia</p>
                </div>
            </div>
        </article>

    <!-- CONTACT -->
    <h2 class="border-top" id="contact">Contact</h2>

    <!-- FOOTER -->
    <h2 class="border-top" id="footer">Footer</h2>
        <article class="component">
            <img 
                class="component__image"
                alt="Footer screenshot" 
                srcset="images/footer.png 2x"
                src="images/footer.png"
            >

            <footer class="footer component__code">
                <div class="footer__flex">
                    <img 
                        class="footer__logo" 
                        alt="Lobelia logo - white background black text" 
                        srcset="images/footer__logo.png 2x"
                        src="images/footer__logo.png">

                    <div class="footer__lists p--medium">
                        <ul class="footer__list footer__address">
                            <li class="footer__list-item">113 Doctor Trueta Street</li>
                            <li class="footer__list-item">1st floor</li>
                            <li class="footer__list-item">08005 Barcelona</li>
                        </ul>

                        <ul class="footer__list footer__contact">
                            <li class="footer__list-item">+34 93 655 82 32</li>
                            <li class="footer__list-item"><a href="#!">info@lobelia.earth</a></li>
                        </ul>

                        <nav class="footer__navbar">
                            <ul class="footer__list footer__navbar">
                                <li class="footer__list-item"><a href="#!">Careers</a></li>
                                <li class="footer__list-item"><a href="#!">Next Generation</a></li>
                                <li class="footer__list-item"><a href="#!">isardSAT</a></li>
                                <li class="footer__list-item"><a href="#!">Legal Disclaimer</a></li>
                                <li class="footer__list-item"><a href="#!">Quality + Sustainability</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <p class="footer__copyright p--small">&copy;2026 Lobelia. All rights reserved.</p>
            </footer>
        </article>
    </main>
</body>
</html>